<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>

    <!-- Start Content -->
    {% block main_content %}{% endblock %}
    <!-- End Content -->
    <!-- Start Footer -->
    <div class="footer">
        &copy; 2017 to-do-list by Oleg
    </div>
    <!-- End Footer -->

    <!-- Javascripts Section -->
    <script src="/static/js.js"></script>
</body>
</html>